@page
@model DasBlog.Web.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create New Post</h2>
<hr />
<br />

<div class="row">
    <div class="col-sm-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Description" class="control-label"></label>
                <input asp-for="Post.Description" class="form-control" />
                <span asp-validation-for="Post.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Content" class="control-label"></label>
                <textarea asp-for="Post.Content" class="form-control"></textarea>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.AllowComments" class="control-label"></label>
                <input asp-for="Post.AllowComments" class="form-group" type="checkbox" />
                <span asp-validation-for="Post.AllowComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.IsPublic" class="control-label"></label>
                <input asp-for="Post.IsPublic" class="form-group" type="checkbox" />
                <span asp-validation-for="Post.IsPublic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="submit" class="btn btn-default" value="Create" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Blog">Back to Home</a>
</div>
